<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>

<main class="container main-container mt-lg-3" id="main-container">
    <div class="contol_buttons" id="contol_buttons">
        <a href="/edit" class="btn <%= isEdit ? 'd-none-important' : '' %>" id="edit_btn"><i class="bi bi-pencil-square"></i></a>
        <a href="/" class="btn <%= isEdit ? '' : 'd-none-important' %>" id="save_btn"><i class="bi bi-eye"></i></a>
    </div>
    <input type="hidden" name="cvId" id="cvId">

    <div class="d-flex align-items-start profile-section">
        <div class="row profile-left-section">
            <div class="d-flex justify-content-center align-items-center profile-image-container p-4 profile-inner-section" id="profile-image-container">
                <img class="rounded-circle w-50 profile-photo" id="profile-photo" src="" alt="">
            </div>

            <div class="section-contacts profile-inner-section">
                <div class="section-title">
                    Contacts
                </div>
                <!-- /.section-title -->
                <div class="d-flex section-contacts_address" id="section-contacts_address">
                    <div class="col-5 col-lg-4 section-contacts_subtitle address-title">
                        Address:
                    </div>
                    <div class="col col-lg-8 address" id="address"></div>
                </div>
                <!-- /.section-contacts_address -->
                <div class="d-flex section-contacts_phone" id="section-contacts_phone">
                    <div class="col-5 col-lg-4 section-contacts_subtitle phone-title">
                        Phone:
                    </div>
                    <div class="col col-lg-8 phone" id="phone"></div>
                </div>
                <!-- /.section-contacts_phone -->
                <div class="d-flex section-contacts_email" id="section-contacts_email">
                    <div class="col-5 col-lg-4 section-contacts_subtitle email-title">
                        Email:
                    </div>
                    <div class="col col-lg-8 email" id="email"></div>
                </div>
                <!-- /.section-contacts_email -->
            </div>
            <!-- /.section-contacts -->

            <div class="section-education profile-inner-section" id="section-education">
                <div class="section-title">
                    Education
                </div>
                <!-- /.section-title -->
                <div class="education-inner" id="education-inner"></div>
                <!-- /.education-inner -->
            </div>
            <!-- /.section-education -->

            <div class="section-technical-courses profile-inner-section" id="section-technical-courses">
                <div class="section-title">
                    Technical courses
                </div>
                <!-- /.section-title -->
                <div class="technical-courses-inner" id="technical-courses-inner"></div>
                <!-- /.education-inner -->
            </div>
            <!-- /.technical-courses -->

            <div class="section-soft-skills profile-inner-section" id="section-soft-skills">
                <div class="section-title">
                    Soft skills
                </div>
                <!-- /.section-title -->
                <div class="soft-skills-inner" id="soft-skills-inner"></div>
                <!-- /.soft-skills-inner -->
            </div>
            <!-- /.section-soft-skills -->

            <div class="section-languages profile-inner-section" id="section-languages">
                <div class="section-title">
                    Languages
                </div>
                <!-- /.section-title -->
                <div class="languages-inner" id="languages-inner"></div>
                <!-- /.languages-inner -->
            </div>
            <!-- /.section-languages -->
        </div>
        <!-- /.profile-left-section-->

        <div class="profile-right-section col-lg-8">
            <div class="d-flex justify-content-center align-items-center p-4 pt-5 profile-name-and-position-wrap profile-inner-section">
                <div class="text-uppercase">
                    <div class="profile-name-wrap text-center" id="profile-name-wrap">
                        <span class="profile-name" id="profile-name"></span> <span class="profile-surname" id="profile-surname"></span>
                    </div>
                    <div class="profile-position-wrap text-center mt-3" id="profile-position-wrap">
                        <span class="profile-position" id="profile-position"></span>
                    </div>
                </div>
            </div>

            <div class="section-about profile-inner-section" id="section-about">
                <div class="section-title">
                    About me
                </div>
                <!-- /.section-title -->

                <div class="about-inner" id="about-inner"></div>
                <!-- /.about-inner -->
            </div>
            <!-- /.section-about -->

            <div class="section-tehnical-skills profile-inner-section" id="section-tehnical-skills">
                <div class="section-title">
                    Tehnical skills
                </div>
                <!-- /.section-title -->
                <div class="tehnical-skills-inner" id="tehnical-skills-inner"></div>
                <!-- /.tehnical-skills-inner -->
            </div>
            <!-- /.section-tehnical-skills -->

            <div class="section-experiance profile-inner-section" id="section-experiance">
                <div class="section-title">
                    Experiance
                </div>
                <!-- /.section-title -->

                <div class="experiance-inner" id="experiance-inner"></div>
                <!-- /.experiance-inner -->
            </div>
            <!-- /.section-experiance -->


        </div>
        <!-- /.profile-right-section-->
    </div>
    <div class="text-center py-2 fw-bolder text-black-50">Create by <span class="text-uppercase">Andrii</span></div>
</main>

<%- include('includes/footer.ejs') %>