<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>

<main class="container main-container mt-lg-3">
    <div class="row profile-section">
        <div class="row col-12 col-lg-4 justify-content-center align-items-center profile-image-container p-4 profile-inner-section">
            <img class="rounded-circle w-50 profile-photo" id="profile-photo" src="https://images.generated.photos/TAUF3MbbLbvt8O5EGOHYzcZIZxRZjC6ABF8xUgnXvF8/rs:fit:512:512/wm:0.95:sowe:18:18:0.33/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yy/XzA5Nzg5MjEuanBn.jpg" alt="John Doe">
        </div>
        <div class="row col-12 col-lg-8 justify-content-center align-items-center profile-name-and-position-wrap profile-inner-section">
            <div class="text-uppercase">
                <div class="profile-name-wrap text-center">
                    <span class="profile-name" id="profile-name">John</span> <span class="profile-surname" id="profile-surname">Doe</span>
                </div>
                <div class="profile-position-wrap text-center mt-3">
                    <span class="profile-position" id="profile-position">Game Developer</span>
                </div>
            </div>
        </div>
    </div>
    <!-- /.profile-section /.first-section-->

    <div class="d-flex align-items-start profile-section">
        <div class="row profile-left-section col-lg-4">
            <div class="section-contacts profile-inner-section">
                <div class="section-title">
                    Contacts
                </div>
                <!-- /.section-title -->
                <div class="d-flex section-contacts_address">
                    <div class="col-5 col-lg-4 section-contacts_subtitle address-title">
                        Address:
                    </div>
                    <div class="col col-lg-8 address" id="address">Oklahoma City</div>
                </div>
                <!-- /.section-contacts_address -->
                <div class="d-flex section-contacts_phone">
                    <div class="col-5 col-lg-4 section-contacts_subtitle phone-title">
                        Phone:
                    </div>
                    <div class="col col-lg-8 phone" id="phone">+1 (970) 111-1111</div>
                </div>
                <!-- /.section-contacts_phone -->
                <div class="d-flex section-contacts_email">
                    <div class="col-5 col-lg-4 section-contacts_subtitle email-title">
                        Email:
                    </div>
                    <div class="col col-lg-8 email" id="email">johndoe@example.com</div>
                </div>
                <!-- /.section-contacts_email -->
            </div>
            <!-- /.section-contacts -->

            <div class="section-education profile-inner-section">
                <div class="section-title">
                    Education
                </div>
                <!-- /.section-title -->
                <div class="education-inner" id="education-inner">
                    <div class="education-item">
                        <div class="section-education_institution-title">
                            Bachelor of Science in Computer Science
                        </div>
                        <!-- /.section-education_institution-title -->
                        <div class="section-education-profession">
                            It
                        </div>
                        <!-- /.section-education_institution-profession -->
                        <div class="section-education-dates">
                            2003-2007
                        </div>
                        <!-- /.section-education-dates -->
                    </div>
                    <!-- /.education-item -->

                    <div class="education-item">
                        <div class="section-education_institution-title">
                            University of Oklahoma - Norman, OK
                        </div>
                        <!-- /.section-education_institution-title -->
                        <div class="section-education-profession">
                            It
                        </div>
                        <!-- /.section-education-profession -->
                        <div class="section-education-dates">
                            2007-2012
                        </div>
                        <!-- /.section-education-dates -->
                    </div>
                    <!-- /.education-item -->

                </div>
                <!-- /.education-inner -->
            </div>
            <!-- /.section-education -->

            <div class="section-soft-skills profile-inner-section">
                <div class="section-title">
                    Soft skills
                </div>
                <!-- /.section-title -->
                <div class="soft-skills-inner" id="soft-skills-inner">
                    <p class="soft-skill-list">Adaptability, communication, creative thinking, work ethic, teamwork, positivity, time management,
                        motivation, problem-solving, critical thinking, conflict resolution</p>
                </div>
                <!-- /.soft-skills-inner -->
            </div>
            <!-- /.section-soft-skills -->

            <div class="section-languages profile-inner-section">
                <div class="section-title">
                    Languages
                </div>
                <!-- /.section-title -->
                <div class="languages-inner" id="languages-inner">
                    <ul class="lang-list">
                        <li class="d-flex lang-item">
                            <span class="col-6">English</span>
                            <span class="col-6">Native</span>
                        </li>
                        <li class="d-flex lang-item">
                            <span class="col-6">Portuguese</span>
                            <span class="col-6">Full professional</span>
                        </li>
                        <li class="d-flex lang-item">
                            <span class="col-6">French</span>
                            <span class="col-6">Professional working</span>
                        </li>
                    </ul>
                </div>
                <!-- /.languages-inner -->
            </div>
            <!-- /.section-languages -->
        </div>
        <!-- /.profile-left-section-->

        <div class="profile-right-section col-lg-8">
            <div class="section-about profile-inner-section">
                <div class="section-title">
                    About me
                </div>
                <!-- /.section-title -->

                <div class="about-inner" id="about-inner">
                    <ul class="about-list">
                        <li class="about-item">2 years of professional experience developing videogames, with one released title.</li>
                        <li class="about-item">Developed two PC games in C# and one in Flash 6.0 as side projects.</li>
                        <li class="about-item">Programmed gameplay content such as in-game objects behavior and mission progress tracking and implemented gameplay support systems that meet project requirements.</li>
                        <li class="about-item">Designed and developed Graphical User Interfaces for a number of game systems. Extensive hands-on experience with database programming.</li>
                        <li class="about-item">Extensive knowledge and job experience with creating technical specifications for gameplay systems that meet the requirements of the design and art teams.</li>
                    </ul>
                </div>
                <!-- /.about-inner -->
            </div>
            <!-- /.section-about -->

            <div class="section-tehnical-skills profile-inner-section">
                <div class="section-title">
                    Tehnical skills
                </div>
                <!-- /.section-title -->
                <div class="tehnical-skills-inner">
                    <div class="tehnical-skill-list">
                        <span class="tehnical-skills_subtitle">Languages: </span>
                        ActionScript, ASP, Assembly, BASIC, C, C++, C#, COBOL, ColdFusion, CSS, HTML,
                        Interactive C, Java, JavaScript, Lua, Pascal, Perl, PHP, PL/SQL, SQL, UNIX Shell Scripting,
                        VBScript, Visual Basic.NET
                    </div>
                    <!-- /.tehnical-skill-list -->

                    <div class="tehnical-skill-list">
                        <span class="tehnical-skills_subtitle">Databases: </span>
                        Microsoft Access, MySQL, Oracle 8i, PostgreSQL 7.3/7.4, SQL Server 2000
                    </div>
                    <!-- /.tehnical-skill-list -->

                    <div class="tehnical-skill-list">
                        <span class="tehnical-skills_subtitle">Platforms/Networking: </span>
                        Windows 95/98/NT/2000/XP, Linux (Red Hat, Yellow Dog), TCP/IP, SSH
                    </div>
                    <!-- /.tehnical-skill-list -->

                    <div class="tehnical-skill-list">
                        <span class="tehnical-skills_subtitle">Tools: </span>
                        Microsoft Visual Studio 6.0/2003/2005/2008, Decoda, DirectX, Ogre, RakNet, CEGUI Layout Editor,
                        CVS, Subversion, Adobe Flash and Fireworks, Adobe Photoshop, Case Studio 2.0,
                        CrystalReports.NET, pgAdmin III, MySQL Query Browser, CygWin, UnitTest++
                    </div>
                    <!-- /.tehnical-skill-list -->
                </div>
                <!-- /.tehnical-skills-inner -->
            </div>
            <!-- /.section-tehnical-skills -->

            <div class="section-experiance profile-inner-section">
                <div class="section-title">
                    Experiance
                </div>
                <!-- /.section-title -->

                <div class="experiance-inner-2">
                    <div class="experiance-item">
                        <div class="section-experiance_institution_title">
                            K20 Center, Norman, OK
                        </div>
                        <!-- /.section-experiance_institution-title -->
                        <div class="section-experiance_profession">
                            Game Programmer
                        </div>
                        <!-- /.section-experiance-profession -->
                        <div class="section-experiance_dates">
                            06/2015 - present
                        </div>
                        <!-- /.section-experiance_dates -->
                        <div class="section-experiance_responsibilities">
                            <ul class="responsibility-list">
                                <li class="responsibility-item">Developed videogames in C++ and Lua for PC and the Samsung Ultra Mobile Personal Computer platform. Used Ogre for 3D graphics, Flash CS3 and CEGUI for user interfaces, RakNet for networking, and the C++ Standard Template Library (STL).</li>
                                <li class="responsibility-item">Created design documents (program flowcharts, UML designs, and ERD database designs) for portions of the game according to user specifications.',
                                    'Added and modified tables and stored procedures in MySQL 5.0 database and developed C++ code to interact with it.</li>
                                <li class="responsibility-item">Worked on Lua scripts to define the behavior of in-game objects and to provide capabilities for interacting with them. Collaborated with designer to translate game content from storyboards into missions and gameplay scenarios</li>
                                <li class="responsibility-item">Used Subversion for keeping track of source code changes. Performed game testing and used Acunote and Trac for keeping track of bugs found.</li>
                            </ul>
                        </div>
                        <!-- /.experiance-item -->
                    </div>
                    <!-- /.section-experiance_responsibilities -->

                <div class="experiance-item">
                    <div class="section-experiance_institution_title">
                        Center for Independent and Distance Learning, Norman, OK
                    </div>
                    <!-- /.section-experiance_institution-title -->
                    <div class="section-experiance_profession">
                        Information Technology Analyst
                    </div>
                    <!-- /.section-experiance-profession -->
                    <div class="section-experiance_dates">
                        09/2012 - 05/2015
                    </div>
                    <!-- /.section-experiance_dates -->
                    <div class="section-experiance_responsibilities">
                        <ul class="responsibility-list">
                            <li class="responsibility-item">Design and development of a large scale Windows GUI application in Visual Basic.NET/2005 connecting to Oracle 8i and PostgreSQL 7.3/7.4 databases.</li>
                            <li class="responsibility-item">Created design documents for 3-tiered system architecture consisting of Presentation, Business Logic, and Data Access layers. Implemented above system in Visual Basic.NET.</li>
                            <li class="responsibility-item">Development of ASP Web application connecting to MS Access database.</li>
                            <li class="responsibility-item">Made extensive use of Object Oriented Programming principles in all software systems developed.</li>
                            <li class="responsibility-item">Gathered project requirements and developed software process flowcharts and Graphical User Interface (GUI) design documents.</li>
                        </ul>
                    </div>
                    <!-- /.section-experiance_responsibilities -->
                </div>
                <!-- /.experiance-item -->
                </div>
                <!-- /.experiance-inner -->
            </div>
            <!-- /.section-experiance -->


        </div>
        <!-- /.profile-right-section-->
    </div>
</main>

<%- include('includes/footer.ejs') %>